<a href="https://colab.research.google.com/github/Gabriel4420/Fundamentos_Manipulacao_analise_de_dados/blob/master/Manipulacao_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Fundamentos de manipulação e Análise de dados com Python**

# **Importação do modulo pandas**

---

In [0]:
import pandas as pd

# **Explicações gerais**

---

A função responsavel por chamar os arquivos do tipo csv, txt e xlsx, são respectivamente, pd.read_csv(**string**, sep = **string**, skiprows = **int**, encoding = **string específica**) e pd.read_excel(**string**, sheet_name = **string**, skiprows = **int**).



1.   Nome do arquivo
2.   string que separa os dados no arquivo
3.   Quantidade de linhas a serem puladas 
4.   Como o arquivo está codificado: utf-8 ou latin-1, caso seja, CSV ou TXT, respectivamente.

# **Arquivos CSV e TXT**

---

### **Leitura de arquivos**

---

In [0]:
df_lista_de_materiais = pd.read_csv('materiais.csv', sep=';',skiprows=0,encoding='utf-8')

In [3]:
df_lista_de_materiais['Material'].loc[0]

4000010

In [0]:
df_listar_pedidos = pd.read_csv('pedidos.txt',sep='|', skiprows=2, encoding='latin-1')

In [5]:
df_listar_pedidos

      Cod. fornecedor   Material  Qtd.pedido      Texto breve  Qtd.estoque
0                3593  4003232.0         120   FLUCANIL 150MG           12
1                3593  4005091.0          60  BETRICORT CREME            6
2                3593  4003225.0          51   COLIRIO GEOLAB            5
3                3593  4003251.0          60    MIZONOL CREME            6
4                3593  4001716.0          20  GINO-COLON TUBO            2
...               ...        ...         ...              ...          ...
1064             4239  4000333.0           1     CRESTOR 10MG            0
1065             4239  4003698.0           1  PANTOGAR C/90CP            0
1066             4239  4000359.0           1     XARELTO 15MG            0
1067             4239  4005114.0           1        ARADOIS H            0
1068             4239  4003731.0           1     DIOVAN 160MG            0

[1069 rows x 5 columns]

In [0]:
print('Lendo arquivos....')

### **Renomear Colunas 1° Formato**  

---

**Função rename**

dataframe.rename(columns=**dict**)

dict = {'coluna_antiga':'coluna_nova'}

In [0]:
df_lista_de_materiais = df_lista_de_materiais.rename(columns={'Material':'material','Texto breve material':'texto_breve'})

In [7]:
df_lista_de_materiais

      material              texto_breve
0      4000010         ALCACHOFRA 300MG
1      4000013  ANTI-SEPTICO ANESTESICO
2      4000014           ASSEPTCARE SOL
3      4000015           ASSEPTCARE SOL
4      4000016        BENATUX FRAMBOESA
...        ...                      ...
4577   6001409             SABONETE LIQ
4578   6001410             SABONETE LIQ
4579   6001411             TÔNICO NIVEA
4580   6001412             TÔNICO NIVEA
4581   6001415         CHOCOLATE KINDER

[4582 rows x 2 columns]

In [0]:
print('Renomeando colunas ....')

### **Renomear Colunas 2° formato**

---

**Função columns**

dataframe.colums(columns=**lista**)

lista = ['coluna_nova' , 'coluna_nova2']

In [0]:
df_listar_pedidos.columns = ['cod_fornecedor','material','qtd_pedido','text_breve','qtd_estoque']

In [9]:
df_listar_pedidos

      cod_fornecedor   material  qtd_pedido       text_breve  qtd_estoque
0               3593  4003232.0         120   FLUCANIL 150MG           12
1               3593  4005091.0          60  BETRICORT CREME            6
2               3593  4003225.0          51   COLIRIO GEOLAB            5
3               3593  4003251.0          60    MIZONOL CREME            6
4               3593  4001716.0          20  GINO-COLON TUBO            2
...              ...        ...         ...              ...          ...
1064            4239  4000333.0           1     CRESTOR 10MG            0
1065            4239  4003698.0           1  PANTOGAR C/90CP            0
1066            4239  4000359.0           1     XARELTO 15MG            0
1067            4239  4005114.0           1        ARADOIS H            0
1068            4239  4003731.0           1     DIOVAN 160MG            0

[1069 rows x 5 columns]

### **Deletando Colunas - 1° método**

---

uso >> dataframe.drop(**lista**, axis = **string_especifica** ou **int**)

1. Lista de nomes de colunas ou index de linhas a serem deletados

2. 'columns' ou 'index'

3. **1** (colunas) ou **0** (linhas)

In [0]:
df_lista_de_materiais = df_lista_de_materiais.drop(['texto_breve'],axis='columns')

### **Deletando Colunas - 2° método**

---

uso >> dataframe[**lista**].copy()


1.   lista = ['colunas a manter']

resultado final >> dataframe[['colunas a manter']].copy()

In [0]:
df_listar_pedidos = df_listar_pedidos[['material','qtd_pedido','qtd_estoque']].copy()

In [0]:
print('deletando colunas desnecessarias arquivos....')

### **verificando tipos de colunas**

---

dataframe.dtypes(para verificar tipos de todas as colunas)

dataframe['coluna'].dtype

In [12]:
 df_lista_de_materiais.dtypes

material    int64
dtype: object

In [13]:
df_listar_pedidos.dtypes

material       float64
qtd_pedido       int64
qtd_estoque      int64
dtype: object

In [0]:
print('verificando tipos de dados....')

### **Alterando tipo de colunas - Método 1**

Alterando o tipo de apenas uma coluna: 
dataframe['coluna'].astype(palavra reservada)

palavra reservada = str, int, float ou bool

In [0]:
df_lista_de_materiais['material'] = df_lista_de_materiais['material'].astype(int)

In [15]:
df_lista_de_materiais.dtypes

material    int64
dtype: object

In [0]:
df_listar_pedidos['material'] = df_listar_pedidos['material'].astype(int)

In [0]:
print('Alterando tipos de colunas....')

### **Alterando tipo de colunas - Método 2**

---

Transformando mais de uma coluna ao mesmo tempo 

dataframe[ ['x' , 'y'] ] = dataframe[ ['x' , 'y'] ].  astype(float)

### **Agrupando dados**

---

uso >> dataframe.groupby(**lista**).agg(**dict**).reset_index(valor padrão de drop=**False**)

1. **lista** = [colunas a serem agrupadas]
2. **dict** = {'coluna_x':'function:sum,max,min,first e etc...'}

In [0]:
df_listar_pedidos = df_listar_pedidos.groupby(['material']).agg({'qtd_pedido':'sum','qtd_estoque':'sum'}).reset_index()

In [17]:
df_listar_pedidos

      material  qtd_pedido  qtd_estoque
0    4000010.0         250           25
1    4000014.0          60            6
2    4000019.0           7            0
3    4000020.0           9            0
4    4000047.0          50            5
..         ...         ...          ...
938  6001069.0          12            1
939  6001074.0          42            4
940  6001075.0           2            0
941  6001078.0          16            1
942  6001415.0           4            0

[943 rows x 3 columns]

In [0]:
print('Agrupando dados....')

# **Arquivos XLSX**

---

### **Leitura de dados**

In [0]:
df_vendas = pd.read_excel('vendas_1.xlsx',sheet_name='vendas',skiprows=0)

In [0]:
df_vendas2 = pd.read_excel('vendas_2.xlsx',sheet_name=0,skiprows=0)

In [20]:
df_vendas

            Data  Material  Qtd.faturd
0     25-04-2020   6000110           1
1     25-04-2020   6000129           1
2     25-04-2020   6000163           1
3     25-04-2020   6000172           1
4     25-04-2020   6000892           1
...          ...       ...         ...
8652  27-04-2020   4005739           1
8653  27-04-2020   4005739           1
8654  27-04-2020   4005903           1
8655  27-04-2020   4005911           1
8656  27-04-2020   4005927           1

[8657 rows x 3 columns]

### **Renomear Colunas** 

---

Os mesmos métodos mencionados acima funcionam igualmente para arquivos xlsx.

In [0]:
df_vendas.columns = ['data','material','qtd_vendas_faturadas']

In [0]:
df_vendas2.columns = ['data','material','qtd_vendas_faturadas']

In [23]:
df_vendas

            data  material  qtd_vendas_faturadas
0     25-04-2020   6000110                     1
1     25-04-2020   6000129                     1
2     25-04-2020   6000163                     1
3     25-04-2020   6000172                     1
4     25-04-2020   6000892                     1
...          ...       ...                   ...
8652  27-04-2020   4005739                     1
8653  27-04-2020   4005739                     1
8654  27-04-2020   4005903                     1
8655  27-04-2020   4005911                     1
8656  27-04-2020   4005927                     1

[8657 rows x 3 columns]

In [24]:
df_vendas2

            data  material  qtd_vendas_faturadas
0     28-04-2020   6001085                     1
1     28-04-2020   4000020                     1
2     28-04-2020   4000020                     1
3     28-04-2020   4000020                     1
4     28-04-2020   4000045                     1
...          ...       ...                   ...
8139  30-04-2020   6000768                     1
8140  30-04-2020   6000839                     1
8141  30-04-2020   6000843                     1
8142  30-04-2020   6000969                     1
8143  30-04-2020   6000400                     1

[8144 rows x 3 columns]

### **Deletando Colunas**

---

In [0]:
df_vendas = df_vendas[['material','qtd_vendas_faturadas']].copy()

In [0]:
df_vendas2 = df_vendas2.drop(['data'],axis='columns')

### **Verificando tipos de colunas**

---

In [27]:
df_vendas.dtypes

material                int64
qtd_vendas_faturadas    int64
dtype: object

In [28]:
df_vendas2.dtypes

material                int64
qtd_vendas_faturadas    int64
dtype: object

### **Concatenação de tabelas**

---

uso >> pd.concat(**lista**)

lista = [**lista de dataframes**]

In [0]:
df_vendasTotais = pd.concat([df_vendas,df_vendas2])

In [30]:
df_vendasTotais

      material  qtd_vendas_faturadas
0      6000110                     1
1      6000129                     1
2      6000163                     1
3      6000172                     1
4      6000892                     1
...        ...                   ...
8139   6000768                     1
8140   6000839                     1
8141   6000843                     1
8142   6000969                     1
8143   6000400                     1

[16801 rows x 2 columns]

In [31]:
df_vendas.shape

(8657, 2)

#### **Resetando um index**

uso >> dataframe.reset_index(drop=**bool**)

drop = True or False

In [0]:
df_vendasTotais = df_vendasTotais.reset_index(drop=True)

In [33]:
df_vendasTotais

       material  qtd_vendas_faturadas
0       6000110                     1
1       6000129                     1
2       6000163                     1
3       6000172                     1
4       6000892                     1
...         ...                   ...
16796   6000768                     1
16797   6000839                     1
16798   6000843                     1
16799   6000969                     1
16800   6000400                     1

[16801 rows x 2 columns]

### **Agrupando dados**

---

uso >> dataframe.groupby(**lista**).agg(**dict**).reset_index(valor padrão de drop=**False**)

1. **lista** = [colunas a serem agrupadas]
2. **dict** = {'coluna_x':'function:sum,max,min,first e etc...'}

In [0]:
df_vendasTotais = df_vendasTotais.groupby(['material']).agg({'qtd_vendas_faturadas':'sum'}).reset_index()

# **Correlação de tabelas**

---

uso >> pd.merge(**dataframe1**, **dataframe2** ,  on = **lista** , how = **string especifica** )

1. Tabela da esquerda 
2. Tabela da direita 
3. Lista = ['colunas em comum']
4. how = método da correlação: ' left ' (esquerda), ' right ' (direita), ' inner '(pontos em comum), ' outter ' (tudo)

In [35]:
df_vendasTotais.head(2)

   material  qtd_vendas_faturadas
0   4000013                     6
1   4000014                     1

In [36]:
df_lista_de_materiais.head(2)

   material
0   4000010
1   4000013

In [42]:
df_listar_pedidos.head(2)

   material  qtd_pedido  qtd_estoque
0   4000010         250           25
1   4000014          60            6

In [41]:
df_listar_pedidos.dtypes

material       int64
qtd_pedido     int64
qtd_estoque    int64
dtype: object

In [0]:
df_relatorio = pd.merge(df_lista_de_materiais,df_listar_pedidos ,on=['material'] ,how='left' )

In [0]:
df_relatorio

In [0]:
df_relatorio = pd.merge(df_relatorio,df_vendasTotais ,on=['material'] ,how='left' )

In [0]:
df_relatorio

## **Tratamento pós correlação**

---

uso para todas as tabelas >> dataframe.fillna(**variável**)

tabela especifica >> dataframe['coluna'].fillna(**variável**)

1. variável = int, float, str, bool

In [0]:
df_relatorio = df_relatorio.fillna(0)

In [0]:
df_relatorio[['qtd_pedido','qtd_estoque','qtd_vendas_faturadas']] = df_relatorio[['qtd_pedido','qtd_estoque','qtd_vendas_faturadas']].astype(int)

In [0]:
df_relatorio

In [0]:
print('Correlacionando dados e tratando correlações....')

# **Regra de Negocio**

---

1° etapa => soma de colunas

### **Operações entre colunas sem condicional**

uso > dataframe[' coluna_x '] **operador** dataframe[' coluna_y ']

1. operadores: +,-,(*),/,%,(potenciação => dois sinais de multiplicação)

In [0]:
df_relatorio['qtd_loja'] = df_relatorio['qtd_pedido']+df_relatorio['qtd_estoque']

In [0]:
df_relatorio = df_relatorio[['material','qtd_loja','qtd_vendas_faturadas']].copy()

In [0]:
df_relatorio

### **Operação entre colunas com condicional**

def function(params):
      
      
  dataframe.apply( lambda row: function(row['**column**']), axis= ' **columns** ' ou **1**)

In [0]:
def calculo_porcentagem(loja, vendas):
  if(vendas != 0):
    return round(loja/vendas, 2)
  elif(loja != 0):
    return 1.2
  else:
    return 0

In [0]:
df_relatorio['porcentagem'] = df_relatorio.apply(lambda row: calculo_porcentagem(row['qtd_loja'],row['qtd_vendas_faturadas']), axis='columns')

In [0]:
df_relatorio

In [0]:
def definir_status(porcent):
  if(porcent >= 1.2):
    return 'em análise'
  else:
    return 'ok'

In [0]:
df_relatorio['status'] = df_relatorio.apply(lambda row: definir_status(row['porcentagem']), axis='columns')

In [0]:
df_relatorio

In [0]:
print('Criando a regra de negócio ....')

# **Ordenando colunas**

---

uso >> dataframe.sort_values(**lista**, ascending = **lista de bool**)

1. lista = [ colunas a serem ordenadas ]
2. lista de bool = [ booleanos ]

True => menor( < ) para o maior ( > )


False => maior( > ) para o menor ( < )

In [0]:
df_relatorio = df_relatorio.sort_values(['qtd_loja'],ascending=[False])

In [0]:
print('Ordenando colunas ....')

# **Filtros**

---

uso >> dataframe[(dataframe['coluna_x'] > 0)]

In [0]:
df_relatorio_reduzido = df_relatorio[(df_relatorio['status'] == 'ok') & (df_relatorio['qtd_loja'] > 0)]

In [0]:
print('Criando filtros otimizados ....')

# **Exportando Dados**

---

## Exportando formato .CSV ou .TXT

uso > dataframe.to_csv( **string**, sep = **string**, skiprow = **int**)

1.   Nome do arquivo
2.   sep = string que separa os dados no arquivo

In [0]:
df_relatorio.to_csv('relatorio_final.csv', sep=';')

## Exportando formato .XLSX

uso >> writter = pd.ExcelWriter(**string**)

dataframe.to_excel( writter , sheet_name = **string**,  index = **bool** )

writter.save()

In [0]:
writter = pd.ExcelWriter('Relatorio Final.xlsx')

df_relatorio.to_excel(writter, sheet_name='relatorio', index=False)
df_relatorio_reduzido.to_excel(writter,sheet_name='reduzido',index=False)

writter.save()

In [0]:
print('Exportando Relatório Final ....')

In [0]:
print('Relatório gerado com sucesso ....')

In [0]:
input()